.main-container {
  display: flex;
  align-items: center;
  margin: 2.5rem;
}

.sidebar {
  flex: 1;
}

.product-list-container {
  flex: 5;
}

@media only screen and (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
