.single-product-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 5rem 0;
}

.single-product-left {
  display: flex;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-grid img {
  width: 150px;
}

.single-product-name h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-text-navbar);
}
.single-product-name p {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: normal;
  color: var(--color-text-grey4);
}

hr {
  margin: 1.5rem 0;
  border-top: 1px solid var(--color-text-grey4);
}

.single-product-price h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-navbar);
  margin-bottom: 1.5rem;
}

.single-product-size p {
  color: var(--color-text-navbar);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.single-product-size-btns {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.single-product-size-btns button {
  color: var(--color-text-navbar);
  width: 40px;
  cursor: pointer;
  border: 2px solid var(--color-text-grey4);
  background: #fff;
  padding: 2px 0;
  border-radius: 1rem;
  font-size: 15px;
  font-family: "Assistant", sans-serif;
}

.single-product-quantity {
  margin-bottom: 2rem;
}
.single-product-quantity label {
  color: var(--color-text-navbar);
  font-size: 15px;
}

.cart-wishlist-btns {
  display: flex;
  gap: 2rem;
}

.single-product-add-to-cart-btn {
  background-color: var(--color-red-secondary);
  color: #fff;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0.5rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.single-product-add-to-cart-btn:hover {
  background-color: var(--color-red-primary);
}

.single-product-add-to-wishlist-btn {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  background-color: white;
}

.single-product-description {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
.single-product-description-heading {
  color: var(--color-text-navbar);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.single-product-description p {
  font-size: 14px;
}
@media only screen and (max-width: 540px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-product-name h3 {
    font-size: 1.25rem;
  }
  .single-product-price h3 {
    font-size: 1rem;
  }
}
